
ul { list-style-type: none; }

#uls {
  margin-top: 0.5em;
  display: flex;
}

#uls > div {
  border: 1px solid gray;
}

#uls h2 {
  margin: 0;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2.5em;
}

ul#list {
  display: inline-flex;
  flex-flow: column nowrap;
  min-width: 8em;
}

ul#thumbs {
  flex-grow: 1;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

ul#thumbs > li {
  overflow: hidden;
  position: relative;
  /* padding and margin so the selected border does not appear to move the element */
  padding: 2px;
  margin: -2px;
}

ul#thumbs > li.selected {
  padding: 0;
  border: 2px solid green;
  z-index: 999; /* make sure the border shows above neighbors */
}

img {
  display: block;
}

ul#thumbs > li.selected > #thumbctrl {
  /* don't move when we're selected */
  margin: -2px;
}

#thumbctrl {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#thumbctrl > span {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 50%;
  margin-top: -1em;
}

#thumbctrl > span > span {
  display: inline;
  font-weight: bold;
  margin: auto;
  padding: 0.25em 0.5em 0.25em 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5em;
  border: 2px solid #222222;
  transition: background-color 0.3s;
}

#thumbctrl > span > span:hover {
  background-color: powderblue;
  cursor: pointer;
}

#thumbctrl > span > span.sel {
  color: #bbbbbb;
}

h1 > em { margin-left: 0.3em; }

#thumbctrl > span > span.sel.sely {
  color: green;
  background-color: lightgreen;
}

